.header{
    display: flex;
    align-items: center;
    gap: 10px;
 
    height: 40px;
    padding: 5px;
}

.header h1{
    color: #9785BA;
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}



@media (max-width:768px){
    .hamburger{
        display: inline;
    }
}

